* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.how-its-made {
    background-color: #FD9222;
}

.orange {
    color: #FD9222;
    
}
:root {
    --charcoal: #111;
    --blackcurrant: #1E1823;
    --orangepeel: #FD9222;
    --lightgray: #FAFAFA;
}


.container {
    width: 335px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        width: 704px;
        margin: 0 auto;
    }
    @media screen and (min-width: 1200px) {
        width: 1136px;
        margin: 0 auto;
    }
}