* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.orange-text {
    text-align: center;
    margin-bottom: 50px;
}
.orange {
    color: #FD9222;
}

.chocolate {
    color: #111;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 133.333% */
}

ul {
    list-style-type: disc;
}

.box-choco {
    background-color: #FAFAFA;
    display: flex;
    width: 452px;
    height: 336px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    flex-shrink: 0;
    border-radius: 15px;
}

.box-choco-item {
    position: absolute;
    width: 150px;
    height: 50px;
}
:root {
    --charcoal: #111;
    --blackcurrant: #1E1823;
    --orangepeel: #FD9222;
    --lightgray: #FAFAFA;
}

.container {
    // mobile
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        width: 768px;
        margin: 0 auto;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        margin: 0 auto;
    }
}