* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --charcoal: #111;
    --blackcurrant: #1E1823;
    --orangepeel: #FD9222;
    --lightgray: #FAFAFA;
}

.subscribe-grp {
    padding-top: 72px;
    padding-bottom: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.subscribe-title {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;/* 116.667% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.subscribe-content {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;/* 128.571% */
    letter-spacing: -0.28px;
}

.subscribe-button {
    display: flex;
    padding: 14px 40px;
    align-items: flex-start;
    gap: 14px;
    border-radius: 100px;
    background: var(--orangepeel);
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.subscribe {
    background: url(../images/choco-footer-image.jpg);
    background-size: cover;
}

.footer {
    background-color: var(--blackcurrant);
    display: flex;
    flex-direction: column;
    padding: 50px 32px;
    gap: 62px;
}

.footer-header {
    color: #FFF;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;/* 121.429% */
    letter-spacing: -0.56px;
}

.footer-header>span {
    color: var(--orangepeel);
}

.footer-contacts {
    display: flex;
    gap: 63px;
}

.footer-contact-links {
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: left;
    color: #FFF;
    text-align: left;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;/* 128.571% */
}

.footer-icons {
    display: flex;
    width: auto;
    height: auto;
    gap: 18px;
}

.footer-top {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.footer-bottom {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;/* 114.286% */
    letter-spacing: -0.28px;
    padding-top: 24px;
}
.footer-anchor-links {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.footer-icons,
.footer-contact-list,
.footer-anchor-links,
.footer-bottom {
    list-style-type: none;
    text-decoration: none;
}

.container {
    // mobile
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        width: 768px;
        margin: 0 auto;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        margin: 0 auto;
    }
}
