* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
}

:root {
    --charcoal: #111;
    --blackcurrant: #1E1823;
    --orangepeel: #FD9222;
    --lightgray: #FAFAFA;
}

.container {
    // mobile
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        width: 768px;
        margin: 0 auto;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        margin: 0 auto;
    }
}

.ts-h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16;
}
.orange {
    color: var(--orangepeel);
}
.ts-block {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 32px;
    justify-content: center;
    gap: 20px;

    @media screen and (max-width: 767px) {
            padding-left: 20px;
            padding-right: 20px;
    
        }
}

.ts-image {
    border-radius: 15px;
}

.ts-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
        
    @media screen and (min-width: 1200px) {
               width: 1136px;
               margin-left: 26px;
        }
    
    @media screen and (max-width: 767px) {
            justify-content: center;
        
        }

}

.ts-text {
    font-size: 14px;
    @media screen and (max-width: 767px) {
        display: none;
        }
}

.ts-btn {
    border-radius: 100px;
    background: var(--orangepeel);
    border: none;
        @media screen and (min-width: 768px) {
                align-self: right;
                padding-right: 20px;
            }
}

.ts-btn p{
    padding: 14px 40px;
    font-size: 18px;
    color: var(--lightgray);
}

.hide-block {
    @media screen and (max-width: 1199px) {
           display: none;
        }
}

.list-text {
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 32px;
    width: 306px;

    @media screen and (min-width: 768px) {
            display: none;
        }
}