@import './common';
@import './header-hero';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap');

.container {
  // background: rgb(164, 225, 255);
  width: 335px;
  margin: 0 auto;
  
  @media screen and (min-width: 768px) {
    width: 704px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1200px) {
    width: 1136px;
    margin: 0 auto;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --charcoal: #111111;
    --blackcurrant: #1e1823;
    --orangepeel: #fd9222;
    --lightgray: #fafa;
    --lightcolor: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}