<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header-hero</title>

  </head>
  <body>
    <header class="header">
      <div class="container header-container">
        <nav class="header-nav">
          <a class="header-logo" href=""
            ><span class="logo-accent">SIMPLY</span>CHOCOLATE<svg class="header-logo_mobile-tab" width="21" height="21">
                <use href=""></use>
            </svg>
            <svg class="header-logo-desktop" width="24" height="24">
                <use href=""></use>
            </svg>
          </a>
          <ul class="header-list-nav">
            <li class="header-item-nav">
                <a class="header-link-nav" href="">Home</a>
            </li>
            <li class="header-item-nav">
                <a class="header-link-nav" href="">How it's made?</a>
            </li>
            <li class="header-item-nav">
                <a class="header-link-nav" href="">Our Products</a>
            </li>
            <li class="header-item-nav">
                <a class="header-link-nav" href="">Top sellers</a>
            </li>
            <li class="header-item-nav">
                <a class="header-link-nav" href="">Chocolate is loved</a>
            </li>
          </ul>
          <ul class="header-social">
            <li class="header-item-social">
                <a class="header-link-social" href="https://twitter.com/" rel="noopener noreferrer"></a>
            </li>
            <li class="header-item-social">
                <a class="header-link-social" href="https://instagram.com/" rel="noopener noreferrer"><svg class="header-soc-icon" width="24" height="24">
              <use
                href=""></use></svg></a>
            </li>
          </ul>
        </nav>
        <button class="button-menu" type="button"></button>
      </div>
    </header>
    <section class="hero">
        <div class="hero-container container">
            <h1 class=""visually-hidden">Hero</h1>
            <h2 class="hero-title title">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!
            </h2>
            <div class="hero_tablet-btn-scroll">
          <div class="hero_button-wrap">
            <button
              class="hero_btn-1 button button_accent">
              Buy now
            </button>
            <a href="#how-its-made.html" class="button hero_btn-2">
              How it's made
            </a>
          </div>
        </div>
    </section>
  </body>
</html>
