<!-- Header -->
    <header id="home" class="header">
      <div class="container header-container">
        <nav class="header-nav">
          <a class="header-logo" href=""
            ><span class="logo-accent">SIMPLY</span>CHOCOLATE
              <svg width="32" height="22" class="icon">
        <use href="/src/images/sprite.svg#icon-choco-logo"></use>
        <!-- <span>icon-choco-logo</span> -->
    </svg>
        </a>
          <ul class="header-list-nav">
            <li class="header-item-nav">
                <a class="header-link-nav" href="">Home</a>
            </li>
            <li class="header-item-nav">
                <a class="header-link-nav" href="">How it's made?</a>
            </li>
            <li class="header-item-nav">
                <a class="header-link-nav" href="">Our Products</a>
            </li>
            <li class="header-item-nav">
                <a class="header-link-nav" href="">Top sellers</a>
            </li>
            <li class="header-item-nav">
                <a class="header-link-nav" href="">Chocolate is loved</a>
            </li>
          </ul>
          <ul class="header-list-social">
            <li class="header-social-item">
                <a class="header-social-icon" href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
                    <svg width="32" height="22" class="icon">
        <use href="/src/images/sprite.svg#icon-twitter"></use>
      </svg>
    </a>
            </li>
            <li class="header-social-item">
                <a class="header-social-icon" href="https://instagram.com/">
                   <svg width="32" height="22" class="icon">
        <use href="/src/images/sprite.svg#icon-instagram"></use>
        <!-- <span>icon-instagram</span> -->
    </svg>
    </a>
            </li>
          </ul>
        </nav>
        <button class="button-menu" type="button" data-menu-open>
          <svg width="28" height="28" class="icon">
        <use href="/src/images/sprite.svg#icon-hamburger"></use>
        <!-- <span>icon-hamburger</span> -->
    </svg>
          <svg width="32" height="32" class="icon">
        <use href="/src/images/sprite.svg#icon-hamburger"></use>
        <!-- <span>icon-hamburger</span> -->
    </svg>
    </button>
      </div>
    
    <!-- Mobile Menu -->
  <div class="mob-menu is-hidden" data-menu>
    <div class="menu-container">
      <div>
        <button class="button-menu-close" type="button" data-menu-close>
             <svg width="28" height="28" class="icon">
        <use href="/src/images/sprite.svg#icon-hamburger"></use>
        <!-- <span>icon-hamburger</span> -->
    </svg>
    <button class="button-menu-close" type="button" data-menu-close>
             <svg width="32" height="32" class="icon">
        <use href="/src/images/sprite.svg#icon-hamburger"></use>
        </svg>
        </button>
         <ul class="menu-nav-list">
          <li class="menu-nav-item">
            <a
              class="menu-nav-link"
              href=""
              >Home</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="">How it's made?</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="">Our products</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="">Top sellers</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="">Chocolate is loved</a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="menu-social-list">
          <li class="menu-social-item">
            <a
              class="menu-social-link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              >    <svg width="32" height="22" class="icon">
        <use href="/src/images/sprite.svg#icon-instagram"></use>
        <!-- <span>icon-instagram</span> -->
    </svg>
          </li>
          <li class="menu-social-item">
            <a
              class="menu-social-link"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener noreferrer"
              >    <svg width="32" height="22" class="icon">
        <use href="/src/images/sprite.svg#icon-twitter"></use>
        <!-- <span>icon-twitter</span> -->
    </svg>
              </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

        <!-- HERO -->
<section class="hero">
  <div class="container">
    <div class="hero-container">
      <div class="hero-content">
        <h1 class="visually-hidden">Hero</h1>
        <h2 class="hero-title title">
          Treat yourself or a loved one to<br> our finest ingredients for a moment<br>
          of pure delight!
        </h2>
        <div class="hero_tablet-btn-scroll">
          <div class="hero_button-wrap">
            <button
              class="hero_btn-1 button button_accent">
              Buy now
            </button>
            <a href="" class="button hero_btn-2">
              How it's made
            </a>
          </div>
          <div class="hero_scroll-wrap">
            <a href="" class="hero_scroll-title"
              >scroll down
              <div class="hero_scroll-link">
                <svg class="hero_scroll-item" width="16px" height="16px">
                  <use
                    href="/src/images/sprite.svg#icon-scroll-down"></use>
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
