<div class="backdrop is-hidden">
    <div class="modal-subs">
        <img class="subs-img" src="/src/images/subs-image.png" alt="chocolate image" loading="lazy">
        <button type="button" class="subs-close-btn" data-close-modal>
            <svg width="28" height="28" class="subs-close">
                <use href="/src/images/sprite.svg#icon-close"></use>
            </svg>
        </button>

        <div class="explore-wrapper">
            <h2 class="text-now-subs">EXPLORE OUR<br>ABOUT <span class="buy-now-title">NEW CHOCOLATE</span> FIRST!</h2>           

        <label class="email-info">
                <input class="email-subs" type="email" name="email" placeholder="Enter your email" required />
        </label>

        <button type="submit" class="send-btn">Send</button>
        </div>
    </div>
</div>