<div class="container">
  <h2 class="title">OUR <span class="orange-text">PRODUCTS</span></h2>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><div class="product-list">
        <img class="product-img" src="/src/images/apple&cranberry.png" alt="1">
        <span class="product-text">Orange</span>
        <span class="product-description">Dark Chocolate</span>
        <button class="select-btn">45 UAH</button>
      </div>
    </div>
      <div class="swiper-slide"><div class="product-list">
        <img class="product-img" src="/src/images/classicmilk.png" alt="1">
        <span class="product-text">Orange</span>
        <span class="product-description">Dark Chocolate</span>
        <button class="select-btn">45 UAH</button>
      </div>
    </div>
      <div class="swiper-slide"><div class="product-list">
        <img class="product-img" src="/src/images/classicwhite.png" alt="1">
        <span class="product-text">Orange</span>
        <span class="product-description">Dark Chocolate</span>
        <button class="select-btn">45 UAH</button>
      </div>
    </div>
      <div class="swiper-slide"><div class="product-list">
        <img class="product-img" src="/src/images/classicwhite.png" alt="1">
        <span class="product-text">Orange</span>
        <span class="product-description">Dark Chocolate</span>
        <button class="select-btn">45 UAH</button>
      </div></div>
      <div class="swiper-slide"><div class="product-list">
        <img class="product-img" src="/src/images/classicwhite.png" alt="1">
        <span class="product-text">Orange</span>
        <span class="product-description">Dark Chocolate</span>
        <button class="select-btn">45 UAH</button>
      </div></div>
      <div class="swiper-slide"><div class="product-list">
        <img class="product-img" src="/src/images/classicwhite.png" alt="1">
        <span class="product-text">Orange</span>
        <span class="product-description">Dark Chocolate</span>
        <button class="select-btn">45 UAH</button>
      </div></div>
      <div class="swiper-slide"><div class="product-list">
        <img class="product-img" src="/src/images/classicwhite.png" alt="1">
        <span class="product-text">Orange</span>
        <span class="product-description">Dark Chocolate</span>
        <button class="select-btn">45 UAH</button>
      </div></div>
      <div class="swiper-slide"><div class="product-list">
        <img class="product-img" src="/src/images/classicwhite.png" alt="1">
        <span class="product-text">Orange</span>
        <span class="product-description">Dark Chocolate</span>
        <button class="select-btn">45 UAH</button>
      </div></div>
      <div class="swiper-slide"><div class="product-list">
        <img class="product-img" src="/src/images/classicwhite.png" alt="1">
        <span class="product-text">Orange</span>
        <span class="product-description">Dark Chocolate</span>
        <button class="select-btn">45 UAH</button>
      </div></div>
    </div>
    <div class="swiper-wrapper"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>