<div class="container">
  <h2 class="title">OUR <span class="orange-text">PRODUCTS</span></h2>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><div class="product-list">
        <img class="product-img" src="/src/images/orange.png" alt="Orange dark chocolate">
        <span class="product-text">Orange</span>
        <span class="product-description">Dark Chocolate</span>
        <button class="select-btn">45 UAH</button>
      </div>
    </div>
      <div class="swiper-slide"><div class="product-list">
        <img class="product-img" src="/src/images/apple&cranberry.png" alt="Apple & cranberry">
        <span class="product-text">APPLE&CRANBERRY</span>
        <span class="product-description">Milk Chocolate</span>
        <button class="select-btn">50 UAH</button>
      </div>
    </div>
      <div class="swiper-slide"><div class="product-list">
        <img class="product-img" src="/src/images/lime&seasalt.png" alt="Lime & seasalt">
        <span class="product-text">lime&seasalt</span>
        <span class="product-description">Dark Chocolate</span>
        <button class="select-btn">66 UAH</button>
      </div>
    </div>
      <div class="swiper-slide"><div class="product-list">
        <img class="product-img" src="/src/images/pineapple.png" alt="pineapple dark chocolate">
        <span class="product-text">pineapple</span>
        <span class="product-description">Dark Chocolate</span>
        <button class="select-btn">54 UAH</button>
      </div></div>
      <div class="swiper-slide"><div class="product-list">
        <img class="product-img" src="/src/images/classicwhite.png" alt="Classic White Chocolate">
        <span class="product-text">Classic</span>
        <span class="product-description">Milk Chocolate</span>
        <button class="select-btn">45 UAH</button>
      </div></div>
      <div class="swiper-slide"><div class="product-list">
        <img class="product-img" src="/src/images/honey.png" alt="Honey Milk Chocolate">
        <span class="product-text">honey</span>
        <span class="product-description">Dark Chocolate</span>
        <button class="select-btn">50 UAH</button>
      </div></div>
      <div class="swiper-slide"><div class="product-list">
        <img class="product-img" src="/src/images/roastedfruits.png" alt="roastedfruits">
        <span class="product-text">Roasted fruits</span>
        <span class="product-description">Dark Chocolate</span>
        <button class="select-btn">66 UAH</button>
      </div></div>
      <div class="swiper-slide"><div class="product-list">
        <img class="product-img" src="/src/images/classicwhite.png" alt="1">
        <span class="product-text">Classic</span>
        <span class="product-description">Dark Chocolate</span>
        <button class="select-btn">54 UAH</button>
      </div></div>
    </div>
    <div class="swiper-wrapper"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>