<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="our-products-section">
      <h2>OUR <span>PRODUCTS</span></h2>
      <div>
        <ul class="products-list">
          <li class="products-image">
            <img src="./images/orange.png" alt="Orange Dark Chocolate" />
            <div class="products-caption">
              <h3>ORANGE</h3>
              <p>Dark Chocolate</p>
              <button type="button" class="our-product-btn">45 UAH</button>
            </div>
          </li>
          <li class="products-image">
            <img src="./images/apple&cranberry.png" alt="Apple & Cranberry" />
            <div class="products-caption">
              <h3>APPLE&CRANBERRY</h3>
              <p>Milk Chocolate</p>
              <button type="button" class="our-product-btn">50 UAH</button>
            </div>
          </li>
          <li class="products-image">
            <img src="./images/lime&seasalt.png" alt="Lime & Sea Salt" />
            <div class="products-caption">
              <h3>LIME&SEA SALT</h3>
              <p>Dark Chocolate</p>
              <button type="button" class="our-product-btn">66 UAH</button>
            </div>
          </li>
          <li class="products-image">
            <img src="./images/pineapple.png" alt="Pineapple Dark Chocolate" />
            <div class="products-caption">
              <h3>PINEAPPLE</h3>
              <p>Dark Chocolate</p>
              <button type="button" class="our-product-btn">54 UAH</button>
            </div>
          </li>
          <li class="products-image">
            <img src="./images/classicmilk.png" alt="Classic Milk Chocolate" />
            <div class="products-caption">
              <h3>CLASSIC</h3>
              <p>Milk Chocolate</p>
              <button type="button" class="our-product-btn">45 UAH</button>
            </div>
          </li>
          <li class="products-image">
            <img src="./images/honey.png" alt="Honey Milk Chocolate" />
            <div class="products-caption">
              <h3>HONEY</h3>
              <p>Milk Chocolate</p>
              <button type="button" class="our-product-btn">50 UAH</button>
            </div>
          </li>
          <li class="products-image">
            <img
              src="./images/roastedfruits.png"
              alt="Roasted Fruits Dark Chocolate"
            />
            <div class="products-caption">
              <h3>ROASTED FRUITS</h3>
              <p>Dark Chocolate</p>
              <button type="button" class="our-product-btn">66 UAH</button>
            </div>
          </li>
          <li class="products-image">
            <img
              src="./images/classicwhite.png"
              alt="Classic White Chocolate"
            />
            <div class="products-caption">
              <h3>CLASSIC</h3>
              <p>White Chocolate</p>
              <button type="button" class="our-product-btn">54 UAH</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
