<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Reviews</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500;700;900&display=swap"
        rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;500;700;900&display=swap"
        rel="stylesheet">

</head>
<body>
    <section class="reviews-section">
        <h2 class="reviews-caption"><span class="reviews-choco">chocolate</span> is loved</h2>
    
        <div class="slide-container">
            <div class="slide-content">
                <div class="card-wrapper fade">
                    <div class="card">
                        <div class="image-content">
                            <div class="card-image">
                                <img src="./images/Ellipse 1.png" class="card-img" alt="">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Victoria Dobrzhanska</h2>
                            <p class="description">I love this chocolate bar. Perfect combination of light crispy wafer,
                                covered in a thin layer chocolate.</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    
</body>
</html>