<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section class="container section subscribe">
            <div class="subscribe-grp">
                <h2 class="subscribe-title">exPLORE OUR NEW<br>CHOCOLATE FIRST</h2>
                <p class="subscribe-content">From the velvety texture to the rich and complex flavor, our New<br> Chocolate is a true indulgence that will leave you
                craving more. Made<br>with only the finest ingredients and handcrafted with the utmost<br>care, each piece is a work of art
                that is sure to please.</p>
                <button class="subscribe-button" type="button">Subscribe</button>
            </div>
        </section>
    </main>
    <footer class="container footer">
        <div class="footer-top">
            <h2 class="footer-header"><span>Chocolate</span> a delicious <br> cure for a bad day</h2>
            <div class="footer-contacts">
                <div class="footer-contact-links">
                    <h3>Contact us</h3>
                    <ul class="footer-contact-list">
                        <li>
                            <a href="tel:+380684439426">+380 (68) 443-94-26</a>
                        </li>
                        <li>
                            <a href="#simplychoc@gmail.com">simplychoc@gmail.com</a>
                        </li>
                    </ul>
                </div>   
                <div class="footer-social-links">
                    <ul class="footer-icons">
                        <li>
                            <a href="#instagram">
                                <svg width="24px" height="24px">
                                    <use href="./images/sprite.svg#icon-instagram" ></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#twitter">
                                <svg width="24px" height="24px">
                                    <use href="./images/sprite.svg#icon-twitter" ></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <ul class="footer-anchor-links">
                <li>
                    <a href="#Home">Home</a>
                </li>
                <li>
                    <a href="#">How it's made?</a>
                </li>
                <li>
                    <a href="#">Our products</a>
                </li>
                <li>
                    <a href="#">Top sellers</a>
                </li>
                <li>
                    <a href="#">Chocolate is loved</a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>