<div class="backdrop is-hidden" data-modal>
<div class="modal-subs">
            <button type="button" class="subs-close-btn" data-modal-close>
                <svg width="28" height="28" class="subs-close">
                    <use href="/src/images/sprite.svg#icon-close"></use>
                </svg>
            </button>
        <img class="subs-img" src="/src/images/subs-image.png" alt="chocolate image" width="538" height="196">
        <div class="explore-wrapper">
            <h2 class="text-now-subs">EXPLORE OUR<br><span class="orange-text">NEW CHOCOLATE</span> FIRST!</h2>
            <label class="email-info">
                <input class="email-subs" type="email" name="email" pattern="^[a-zA-Z0-9._%+-]+_?[a-zA-Z0-9._%+-]*@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" placeholder="Enter your email" required />
            </label>
            <button type="submit" class="send-btn">Send</button>
        </div>
    </div>
</div>