<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <section class="top-sellers">
        <div class="container">
            <h2 class="ts-h2"><span class="orange">TOP</span> SELLERS</h2>
            <ul  class="ts-block">
                <li>
                    <img class="ts-image" src="/src/images/choc1.jpg" alt="chocolate bar and macadamia nuts" width="368px">
                    <p class="list-text">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has
                        been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
                </li>
                <li>
                    <img class="ts-image" src="/src/images/choc2.jpg" alt="milk chocolate bar with nuts" width="368px">
                </li>
                <li>
                    <img class="ts-image hide-block" src="/src/images/choc3.jpg" alt="dark chocolate with nuts" width="368px">
                </li>
            </ul>

            <div class="ts-bottom">
                <p class="ts-text">Crazy enough chocolate originates from a bean just like the <br> coffee bean called Cacao. Cacao has been around for<br>
                thousands of years and was first discovered by the Native <br> American tribe called the Mayans.</p>
                <button class="ts-btn" type="button"><p>Buy now</p></button>
            </div>
        </div>
        
    </section>
    
</body>
</html>