    <section class="top-sellers section" id="topsellers">
        <div class="container">
            <h2 class="ts-h2 title"><span class="orange">TOP</span> SELLERS</h2>
            
            <ul  class="ts-block">
                <li class="ts-list">
                    <img class="ts-image" src="/src/images/choc1.jpg" alt="chocolate bar and macadamia nuts" width="368px" height="464" />
                </li>

                <p class="ts-text hidden-text">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been
                    around for thousands of years and was first discovered by the Native <br> American tribe called the Mayans.</p>
        
                <li class="ts-list">
                    <img class="ts-image" src="/src/images/choc2.jpg" alt="milk chocolate bar with nuts" width="368px" height="464" />
                </li>
        
                <li class="ts-list">
                    <img class="ts-image hide-block" src="/src/images/choc3.jpg" alt="dark chocolate with nuts" width="368px" height="464" />
                </li>
            </ul>

            <div class="ts-bottom">
                <p class="ts-text hidden-text-mob">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
                <button class="ts-btn" type="button">Buy now</button>
            </div>
        </div>
    </section>